doctype html
html
  head
    title So long, and thanks for all the fish! | Gamer Loot Australia
    //- base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet' href='./main.css')
  body
    h1 So long, and thanks for all the fish!
    h2 Check out some of our friends on the web.
    ul
        li 1
        li 2
        li 3
    h2 Gamer Loot Australia
    script(src="./alpine.js")
  script(src='./main.js')
